footer {
  margin: 3em 0 8em;
  text-align: center;

  nav {
    margin-bottom: 1em;

    li {
      display: inline-block;
      margin-right: 1em;
      margin-bottom: 1em;

      a {
        width: em(148);

        &.register {
          @extend %primary-button;
        }

        &:not(.register) {
          @extend %secondary-button;
        }
      }
    }
  }

  p {
    color: rgba(white, 0.7);

    a {
      color: white;

      &:hover {
        color: rgba(white, 0.5);
      }
    }
  }
}
