footer {
  margin: 3em 0 8em;
  text-align: center;

  nav {
    margin-bottom: 1em;

    a {
    }
  }

  h2 {
    font-size: em(14);
    font-weight: normal;
    letter-spacing: 1px;
    margin: 1em 0.5em 0.5em 0;
    text-transform: uppercase;

    @include media(em(500)) {
      display: inline-block;
    }
  }

  p {
    a {
      color: $refresh-tan;

      &:hover {
        color: $refresh-blue;
      }
    }
  }
}

.contact {
  margin-top: 1em;
}

.contact--button {
  @include transition(all 0.2s linear);
  border-radius: $base-border-radius;
  color: $refresh-blue;
  border: 3px solid $refresh-blue;
  display: inline-block;
  font-size: $base-font-size;
  font-weight: bold;
  line-height: 1;
  padding: .75em 1em;
  text-decoration: none;

  @include media(max-width em(500)) {
    margin-bottom: 0.5em;
  }

  &:hover {
    @include transition(all 0.2s linear);
    color: $refresh-dark-blue;
    background-color: lighten($refresh-blue, 10);
    border: 3px solid lighten($refresh-blue, 10);
  }

}
