footer {
  margin: 3em 0 8em;
  text-align: center;

  nav {
    margin-bottom: 1em;

    a {
      &.register {
        @extend %primary-button;
        margin-bottom: 1em;
      }

      &:not(.register) {
        @extend %secondary-button;
        display: inline-block;
        margin-right: 0.25em;

        @include media(max-width em(500)) {
          margin-bottom: 0.5em;
        }
      }
    }
  }

  h2 {
    font-size: em(14);
    font-weight: normal;
    letter-spacing: 1px;
    margin: 1em 0.5em 0.5em 0;
    text-transform: uppercase;

    @include media(em(500)) {
      display: inline-block;
    }
  }

  p {
    a {
      color: $refresh-tan;

      &:hover {
        color: $refresh-blue;
      }
    }
  }
}
