header {
  margin-top: 1em;
  text-align: center;

  @include media(em(600)) {
    margin-top: 5em;
  }

  h1 {
    font-size: 1em;

    svg {
      margin-bottom: 2em;
      width: em(155);
      height: em(148);

      path {
        fill: $refresh-blue;
      }
    }

    strong {
      display: none;
    }
  }

  p {
    max-width: em(380);
    margin: 0 auto 0.5em;
  }

  nav {
    margin-top: 2em;

    li {
      display: inline-block;
    }

    a {
      @include hide-text();
      @include size(em(24));
      @include transition;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      display: block;
      margin-right: 1em;

      &:hover {
        @include transition;
        opacity: 0.6;
      }

      &.twitter {
        background-image: url("../images/twitter.svg");
      }

      &.linked-in {
        background-image: url("../images/linkedin.svg");
      }

      &.flickr {
        background-image: url("../images/flickr.svg");
      }
    }
  }
}
