 .sponsors {
  text-align: center;

  ul {
    li {
      vertical-align: middle;
      display: inline-block;

      &.drexel {
        @include media(max-width em(550)) {
          display: block;
        }

        a {
          @include size(100% em(149));

          @include media(em(550)) {
            @include size(em(438) em(149));
          }
        }

        .drexel a{
          background-image: url("../images/drexel.svg");
        }

        .happy-cog a{
          background-image: url("../images/HappyCogLogo.png");
        }

      }

      a {
        @include hide-text();
        @include transition;
        background-repeat: no-repeat;
        background-size: contain;
        display: block;

        &:hover {
          @include transition;
          opacity: $base-opacity;
        }
      }
    }
  }
}
