.sponsors {
  text-align: center;

  h1 {
    color: $refresh-blue;
    font-size: 1em;
    letter-spacing: 1px;
    margin-bottom: 2em;
    text-transform: uppercase;
  }

  ul {
    li {
      vertical-align: middle;
      display: inline-block;

      &.drexel {
        @include media(max-width em(550)) {
          display: block;
        }

        a {
          @include size(100% em(149));
          background-image: url("../images/drexel.svg");

          @include media(em(550)) {
            @include size(em(438) em(149));
            margin-right: 1em;
          }

          @include media(em(630)){
            margin-left: -70px;
          }
        }
      }

      &.thoughtbot {
        a {
          @include size(em(156));
          background-image: url("../images/thoughtbot.svg");
        }
      }

      a {
        @include hide-text();
        @include transition;
        background-repeat: no-repeat;
        background-size: contain;
        display: block;

        &:hover {
          @include transition;
          opacity: $base-opacity;
        }
      }
    }
  }
}
